.main-blogs {
  width: 100%;
}

.main-blogs > header {
  margin-top: 20px;
  margin-left: 40px;
  max-width: 1300px;
}

.main-blogs > header h1 {
  color: #333;
  font-size: 1.8em;
}

.main-blogs > header p {
  padding-left: 10px;
}

.main-blogs article {
  margin: 20px;
  margin-bottom: 30px;
  max-width: 1300px;
  align-items: center;
}

.main-blogs article header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-blogs article header i {
  padding: 20px;
  cursor: pointer;
  color: #333;
}

.main-blogs article h1 {
  border-left: 5px solid #6d76f7;
  padding-left: 8px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.main-blogs article h2 {
  flex-basis: 100%;
  font-weight: 400;
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
}
